

/*Main CSS for website*/

body{
   background:#000000 url(http://assets.tumblr.com/images/x.gif?v=1) repeat center top;
   background-attachment: fixed;
   color: #777777;
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 10px;
   line-height: 12px;
   overflow-x:hidden;
   margin:0px;
   text-align: left;}

/*Scrollbar Customization*/
::-webkit-scrollbar-thumb:vertical {background-color:#DDD; height:auto;}
::-webkit-scrollbar-thumb:horizontal {background-color:;height:10px !important;}
::-webkit-scrollbar {height:7px; width:7px; background-color:;}
::-webkit-scrollbar {width: 10px; color:#333333;}
::-o-scrollbar {width: 12px;}
::-moz-scrollbar {width: 12px;}
::-ms-scrollbar {width: 12px;}

/*Main Section*/
#main{ margin-left:0px; margin-top:100px;
background-color:none;
background-image:url('navyBlueWallpaper.jpg');
background-repeat:repeat;
background-attachment:fixed;
background-position:top-left; position:relative; width:650px; height: 419px; overflow:none; border:15px solid; border-color:#222222;  }

/*Nav Bar Style and Links*/
#navbar {float: left !important; margin-top:0px; margin-left:0px; width:820px; height:26px; padding-left:0px; background-color:#333333; }
nav a {display:inline-block; height:25px; width:161.5px; font-size: 15px; color:#999999; padding-top: -10px; line-height: 25px;}
nav a:hover {color:#222; background-color: #AAA; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear;}
nav a:active {color:#222; background-color: #AAA;}
nav a:focus {color:#222; background-color: #AAA;}

/*Aside Contents*/
#side{position:fixed !important; width:200px; height: 394px; background-color:#fff; padding:2px; margin-top: 3px; margin left:200px; border-left:15ps solid white}
#name{font-family:Trebuchet MS; text-align:center; font-size:25px; color:#DDDDDD; line-height: 42px; width:220px; height:30px; margin-right:-10px; margin-top:-10px; background-color:rgba(0, 0, 0, 0.5);}
#profilePhoto{padding-left: 0px;}
#scroll{float:right; width:605px; height:393px; overflow-x:hidden; margin-right:0px; margin-left: 25px; margin-top:0px; padding-right: -10px; background-color:rgba(255, 255, 255, 0.2);}

/*Footer*/
footer {float:bottom; margin-top:409px; width:816px; height:8px; background-color:none; padding:2px;}

/*Boxes within Main Area*/
div#main{
   margin:10px auto 20px;
   text-align: left;
   position:relative;
   width:820px;
   -o-border-radius: 5px
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

div#content{
  margin-top:-55px;
  width:900px;
  margin-left:10px;
}

/*Aside Styling*/
aside {
   padding: 0px;
   margin-top:26px;
   width:200px; overflow:hidden;
   height:393px;
   background-color:rgba(0, 0, 0, 0.7);;
   position:fixed;
   margin-left:0px;
   border-right: 15px solid; border-color:#222222;
}
aside p {
  padding-left: 20px;
  margin-top:0px;
  margin-bottom:0px;
  font-family:Helvetica;
  font-size:12px;
  line-height: 12px;
  color: #EEEEEE;
}

aside p.asidetitle {
  font-family:Helvetica;
  font-size:20px;
  color: #EEEEEE;
  line-height: 5px;
  display: block;
  background-color:#092756;
  width:200px;
  height:10px;
  margin-top: -3px;
}

/*Social Media Aside Styling*/

#socialmedia{
  margin-top:8px;
  margin-left:3px;
}
#socialmedia img a {
  text-decoration: none;
  style:none;
  background-color: none !important;
  color:none !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


/*Blockquote styling*/
blockquote{
  display:block;
  background: rgba(255, 255, 255, 0.2);;
  padding: 35px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #eee;
  text-align: justify;
  border-left: 15px solid #092756;
  border-right: 0px solid #092756;
}

/*Big Quote for blockquote*/
blockquote::before{
  content: "\201C";

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  content: "";
}


/*Specific Entry Style*/

#entry {
   max-width:585px;
   padding-left:10px;
   padding-right:20px;
   padding-top:0.1px;
   margin-top:43px;
   margin-left: -10px;
   margin-right: 20px;
   background-color:rgba(0,0,0,0.6);
   overflow:none;}

/*Photo included in entry*/

#entry_photo {background-color: #fff;
   width:100px;
   height:100px;
   padding:0px;
   margin:0px;
   display:inline;
   -o-border-radius: 3px
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background-color:rgba(0,0,0,0.8);
   -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
   box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
   overflow-x:none;}

#entry p {
  font-family:Helvetica;
  font-size:13px;
  color: #EEEEEE;
  line-height: 15px;
  padding-right:10px;
}

#entry h1 {
  font-family:Helvetica;
  font-size:25px;
  color: #EEEEEE;
  line-height: 20px;
  display: block;
  background-color:#092756;
  width:585px;
  height:20px;
  margin-left: -10px;
  padding-left: 10px;
}

#entry h2 {
  font-family:Helvetica;
  text-align: right;
  font-size:25px;
  color: #EEEEEE;
  line-height: 20px;
  display: block;
  background-color:#092756;
  width:583px;
  height:20px;
  margin-top:-45px;
  margin-left: -10px;
  margin-right: -5px;
}


/*Font Styles*/

h1{font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 0px;font-style:normal;
   line-height: 0px;font-weight:normal;
   color: #BDBDBD;}

ul {list-style-type:bullet;}
ul:hover {color: #999;}

ol {list-style-type: upper-roman;}
ul:hover {color: #999;}

/*Link Styles*/
a{color:#F3EEEE;text-decoration:none;-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear;}
a:hover{color:#222; background-color: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear;}
a:active{outline: none;}
a:focus{-moz-outline-style: none;}
:-moz-any-link:focus{outline: none;}

 
